html {
	position: relative;

	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	position: relative;

	display: flex;
	flex-direction: column;
	min-width: 320px;
	min-height: 100vh;
	overflow-x: hidden;

	color: #1c1c1c;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.2;

	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizelegibility;
	-webkit-tap-highlight-color: rgb(0 0 0 / 0%);
	-webkit-tap-highlight-color: transparent;
}

main {
	flex-grow: 1;
	padding-bottom: 80px;

	@media (width >= 580px) {
		padding-bottom: 100px;
	}
}

img,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

svg {
	max-height: 100%;
}

button {
	padding: 0;

	background-color: transparent;
	border: none;
	cursor: pointer;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

h1,
h2,
h3,
p,
figure,
fieldset {
	margin: 0;
}

.visually-hidden {
	position: fixed;

	transform: scale(0);
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 16px;

	@media (width >= 580px) {
		padding: 0 29px;
	}

	@media (width >= 820px) {
		padding: 0 43px;
	}

	@media (width >= 1120px) {
		padding: 0 92px;
	}
}
