@font-face {
	font-weight: 400;
	font-family: 'Open Sans';
	font-style: normal;
	src: url('/fonts/open-sans-v36-cyrillic_latin-regular.woff2') format('woff2');
	font-display: swap;
}

@font-face {
	font-weight: 700;
	font-family: 'Open Sans';
	font-style: normal;
	src: url('/fonts/open-sans-v36-cyrillic_latin-700.woff2') format('woff2');
	font-display: swap;
}

@font-face {
	font-weight: 400;
	font-family: 'Inter';
	font-style: normal;
	src: url('/fonts/inter-v13-cyrillic_latin-regular.woff2') format('woff2');
	font-display: swap;
}
