.card {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;

	&__link {
		&_img {
			display: block;
			margin-bottom: 12px;

			@media (min-width: 580px) {
				margin-bottom: 16px;
			}
		}
	}

	&__info {
		flex-grow: 1;

		@media (min-width: 580px) {
			display: flex;
			justify-content: space-between;
			gap: 5px;
			margin-bottom: 20px;
		}
	}

	&__title {
		margin-bottom: 4px;
		font-size: 12px;
		font-weight: 400;

		@media (min-width: 580px) {
			padding-top: 3px;
			font-size: 16px;
			margin-bottom: 0;
		}

		@media (min-width: 820px) {
			font-size: 20px;
		}
	}

	&__price {
		margin-bottom: 12px;
		font-size: 16px;

		@media (min-width: 580px) {
			margin-bottom: 0;
		}
	}

	&__btn {
		@media (min-width: 580px) {
			grid-area: btn;
		}
	}

	&__favorite {
		position: absolute;
		top: 12px;
		right: 12px;

		svg {
			fill: #fff;
		}

		&:hover,
		&_active {
			color: #780096;
			svg {
				fill: #780096;
			}
		}

		&:active {
			color: #c0f;
			svg {
				fill: #c0f;
			}
		}
	}

	&__image {
		width: 100%;
		object-fit: cover;
		border-radius: 16px;
		aspect-ratio: 7/6;

		@media (min-width: 580px) {
			aspect-ratio: 23/20;
		}

		@media (min-width: 820px) {
			aspect-ratio: 151/125;
		}
	}

	// @media (min-width: 580px) {
	// }

	// @media (min-width: 820px) {
	// }

	// @media (min-width: 1120px) {
	// }
}
