.cart {
	padding-top: 24px;

	@media (width >= 580px) {
		padding-top: 32px;
	}

	@media (width >= 780px) {
		padding-top: 40px;
	}

	&__container {
		display: grid;
		grid-template-areas: 'title' 'content' 'form' 'place';

		@media (width >= 880px) {
			grid-template-areas: 'title .' 'content place' 'form form';
			grid-template-columns: 1fr 302px;
			gap: 40px 30px;
			justify-content: space-between;
		}

		@media (width >= 1080px) {
			grid-template-columns: 1fr 408px;
		}
	}

	&__title {
		grid-area: title;
		margin-bottom: 24px;

		font-weight: 700;
		font-size: 24px;

		@media (width >= 580px) {
			margin-bottom: 24px;

			font-size: 32px;
		}

		@media (width >= 880px) {
			margin-bottom: 0;
		}
	}

	&__products {
		display: flex;
		flex-direction: column;
		grid-area: content;
		gap: 16px;
		margin-bottom: 24px;

		@media (width >= 880px) {
			margin-bottom: 0;
		}
	}

	&__product {
		display: grid;
		grid-template-areas:
			'img title title'
			'img article article'
			'img control price';
		grid-template-rows: min-content min-content 1fr;
		grid-template-columns: 25vw min-content 1fr;
		gap: 4px 8px;
		align-items: center;

		@media (width >= 480px) {
			grid-template-areas:
				'img title price'
				'img article article'
				'img control .';
			grid-template-columns: 120px 1fr min-content;
			gap: 6px 12px;
		}

		@media (width >= 880px) {
			max-width: 514px;
		}
	}

	&__img {
		grid-area: img;

		border-radius: 16px;
	}

	&__title-product {
		grid-area: title;

		font-weight: 400;
		font-size: 12px;
		font-style: normal;

		@media (width >= 480px) {
			padding-top: 12px;

			font-size: 16px;
		}
	}

	&__price {
		grid-area: price;

		color: #1c1c1c;

		@media (width >= 480px) {
			place-self: start end;

			padding-top: 12px;

			font-size: 16px;
		}
	}

	&__article {
		grid-area: article;

		color: #969eae;
		font-size: 9px;

		@media (width >= 480px) {
			font-size: 12px;
		}
	}

	&__product-control {
		display: flex;
		grid-area: control;
		gap: 12px;
		align-items: center;
		justify-content: space-between;
		justify-self: start;
		padding: 5px 11px;

		border: 1px solid #eeeff2;
		border-radius: 32px;

		@media (width >= 480px) {
			align-self: end;
		}
	}

	&__product-btn {
		width: 14px;
		height: 14px;

		line-height: 14px;

		border: 1px solid transparent;
		outline: none;

		&:focus-visible {
			border-color: #780096;
		}
	}

	&__product-count {
		min-width: 14px;

		text-align: center;
	}

	&__place {
		grid-area: place;
		padding-top: 25px;

		@media (width >= 820px) {
			padding-top: 0;
		}
	}

	&__subtitle {
		margin-bottom: 16px;

		font-weight: 400;
		font-size: 16px;

		&_form-order {
			grid-column: 1/-1;
		}

		@media (width >= 480px) {
			font-size: 20px;
		}
	}

	&__place-info {
		display: flex;
		justify-content: space-between;
		margin-bottom: 32px;

		@media (width >= 480px) {
			margin-bottom: 40px;

			font-size: 16px;
		}
	}

	&__place-delivery {
		margin-bottom: 8px;

		color: #969eae;
		font-size: 9px;

		@media (width >= 480px) {
			margin-bottom: 12px;

			font-size: 12px;
		}
	}

	// &__place-btn {}

	&__form {
		grid-area: form;
		padding-top: 30px;
		padding-bottom: 25px;

		@media (width >= 580px) {
			padding-top: 40px;
			padding-bottom: 40px;
		}

		@media (width >= 880px) {
			padding-bottom: 0;
		}
	}
}
