.catalog {
	padding-top: 24px;
	overflow-x: hidden;

	@media (width >= 580px) {
		padding-top: 32px;
	}

	@media (width >= 820px) {
		padding-top: 40px;
	}

	&__container {
		padding: 0;
	}

	&__list {
		display: flex;
		gap: 16px;
		padding: 0 16px;
		overflow-x: auto;

		@media (width >= 580px) {
			padding: 0 29px;
		}

		@media (width >= 820px) {
			padding: 0 49px;
		}

		@media (width >= 1120px) {
			padding: 0 92px;
		}
	}

	&__link {
		display: block;
		padding: 8px 14px 10px;

		color: #969eae;
		white-space: nowrap;

		background-color: #eeeff2;
		border: 1px solid transparent;
		border-radius: 32px;
		outline: none;

		&:hover,
		&:focus-visible {
			color: #780096;

			border-color: #780096;
		}

		&:active,
		&_active {
			color: #fff;

			background-color: #780096;

			&:hover,
			&:focus-visible {
				color: #fff;
			}
		}

		&_active {
			pointer-events: none;
		}
	}

	@media (width >= 580px) {
	}

	@media (width >= 820px) {
	}

	@media (width >= 1120px) {
	}
}
