.header {
	padding-top: 16px;
	padding-bottom: 17px;

	border-bottom: 1px solid #eeeff2;

	&__container {
		display: grid;
		grid-template-areas:
			'logo control'
			'search search';
		gap: 16px;
		align-items: center;
		justify-content: space-between;

		@media (width >= 820px) {
			grid-template-areas: 'logo search control';
			grid-template-columns: 94px 1fr auto;
			align-items: center;
		}
	}

	&__link-logo {
		grid-area: logo;
	}

	&__logo {
		width: 94px;
	}

	&__search {
		position: relative;

		grid-area: search;
		width: 100%;
		height: 38px;

		@media (width >= 820px) {
			justify-self: center;
			max-width: 408px;
		}

		@media (width >= 1120px) {
			max-width: 514px;
		}
	}

	&__input {
		width: 100%;
		height: 100%;
		padding: 0 40px 0 24px;

		background-color: #eeeff2;
		border: none;
		border-radius: 32px;

		&::placeholder {
			color: #969eae;
		}

		&:focus-visible,
		&:hover {
			outline: 1px solid #dfe3eb;
		}
	}

	&__btn {
		position: absolute;
		top: 50%;
		right: 24px;

		display: block;
		width: 16px;
		height: 16px;

		border-radius: 4px;
		outline: 1px solid transparent;
		outline-offset: 4px;
		transform: translateY(-50%);

		&:hover,
		&:active {
			color: #780096;
		}

		&:focus-visible {
			color: #780096;

			outline-color: #780096;
		}
	}

	&__control {
		display: flex;
		grid-area: control;
		gap: 16px;
		justify-self: end;
	}

	&__link {
		display: flex;
		flex-direction: row-reverse;
		gap: 4px;
		align-items: center;

		svg {
			fill: #fff;
		}

		&:hover,
		&:active {
			color: #780096;

			svg {
				fill: #780096;
			}
		}

		&:focus-visible {
			color: #780096;

			outline-color: #780096;
		}

		@media (width >= 580px) {
			flex-direction: row;
		}
	}

	&__link-text {
		display: none;

		@media (width >= 580px) {
			display: block;
		}
	}
}
