.order {
	padding: 60px 16px 100px;

	@media (min-width: 580px) {
		padding-top: 120px;
		padding-bottom: 160px;
	}

	&__container {
		padding: 0;
		max-width: 408px;
	}

	&__header {
		display: flex;
		flex-direction: column;
		gap: 8px;

		@media (min-width: 580px) {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}
	}

	&__title,
	&__price,
	&__data-title {
		color: #1c1c1c;
		font-size: 16px;
		font-weight: 400;
	}

	&__number {
		display: block;
		max-width: 63px;
		margin-top: 8px;
		padding: 4px 8px;
		border-radius: 32px;
		color: #969eae;
		background-color: #eeeff2;
		outline: none;
		border: 1px solid transparent;
	}

	&__data {
		margin-top: 20px;
	}

	// &__data-table {
	// }
	&__btn {
		margin-top: 20px;
		width: 100%;
		padding: 12px 24px;
		border-radius: 32px;
		border: 1px solid transparent;
		background-color: #780096;
		color: #fff;
	}
}
