.order {
	padding: 60px 16px 100px;

	@media (width >= 580px) {
		padding-top: 120px;
		padding-bottom: 160px;
	}

	&__container {
		max-width: 710px;
		padding: 24px 16px;

		border: 1px solid #eeeff2;
		border-radius: 16px;

		@media (width >= 580px) {
			padding: 60px 151px;
		}

		@media (width >= 820px) {
			max-width: 726px;
			padding: 60px 159px;
		}

		@media (width >= 1120px) {
			max-width: 832px;
			padding: 60px 212px;
		}
	}

	&__header {
		display: flex;
		flex-direction: column;
		gap: 8px;
		margin-bottom: 8px;

		@media (width >= 580px) {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}
	}

	&__title,
	&__price,
	&__data-title {
		color: #1c1c1c;
		font-weight: 400;
		font-size: 16px;
	}

	&__number {
		display: block;
		max-width: 63px;
		margin-bottom: 20px;
		padding: 4px 8px;

		color: #969eae;

		background-color: #eeeff2;
		border: 1px solid transparent;
		border-radius: 32px;
		outline: none;
	}

	&__data {
		margin-bottom: 20px;
	}

	// &__data-table {}

	// &__link {}
}
